@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(16, 18, 102);
}
.formulario {
    position: absolute;
    background: linear-gradient(180deg, rgba(131,58,180,1) 20%, rgba(253,29,29,1) 56%, rgba(252,112,69,1) 87%);
    width: 300px;
    overflow: hidden;
    top: 6%;
    left:50%;
    transform: translateX(-50%);
   text-transform:uppercase;   
   text-align: center; 
   font-family: 'Righteous', cursive;
   font-size:25px;
   color: #BDBDBD;
   transform: skew(-3deg,5deg);
   box-shadow: 1px 6px 9px #262626;

}
.header {
    position:relative;
    background-color:rgb(131, 58, 180,1);
    height:250px;
    border-bottom-left-radius: 50%; 
}
.icon{
    position: absolute;
    background-color: #E0E0E0;
    border-radius: 50%;
    width:150px;
    height:150px;
    top:20%;
    left:30%;
    
}
.icon img {
    position:absolute;   
    top:0%;
    left:3%;
}
.inputs {    
    margin-top:2%;
    padding:5%;    
}
input {
    background-color: transparent;    
    height:30px ;
    width: 86%;
    text-align: center;
    border-radius: 5px;
    margin-top: 6%;
    margin-bottom:3%;
    font-size:20px;
    color: #BDBDBD;    
}

label::after {
    content: "";
    background-color: white;
    display: block;
    width: 80%;
    margin: 0% 0% 0% 10% ;
    height: 2px;
}
.footer {
    margin-top:5%;
    margin-bottom: 3%;
    color: #616161;
}
